.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.attachments-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 350px);
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.2rem;
}

.inputs {
    padding-top: 1rem;
    max-width: 500px;
}

.tiny-thumbnails {
    max-width: 120px;
}

h1 {
    font-weight: 800;
    font-size: 1.5rem;
}

h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0.5rem;
}
