/* Define common constants used throughout CSS to make it easier to propogate changes. */
:host {
  --border-radius: 8px;
  --component-background-color: #f3f2f2;
  --card-background-color: #ffffff;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roboto",
  "Google Sans", sans-serif;
  --font-size: 14px;
}

.component-background {
  background-color: var(--component-background-color);
  height: 100%;
  width: 100%;
}

.body-slot {
  background: var(--card-background-color);
  border-radius: var(--border-radius);
}

.header-slot {
  background: var(--card-background-color);
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card-container {
  background: var(--card-background-color);
  margin: 0px 16px;
  border-radius: var(--border-radius);
}

.object-name {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: #3e3e3c;
}

.record-name {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: #080707;
  font-weight: bold;
}

.button {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: #3e3e3c;
}
